@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes pulsarSombra {
  0% {
    text-shadow: 0 0 5px rgba(198, 7, 7, 0.4); /* Sombra mais sutil */
  }
  50% {
    text-shadow: 0 0 10px rgba(219, 10, 10, 0.9); /* Sombra mais intensa */
  }
  100% {
    text-shadow: 0 0 5px rgba(230, 0, 0, 0.4);
  }
}

.pulsando-sombra {
  animation: pulsarSombra 2s ease-in-out infinite;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #A61111 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
.myscroll::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.myscroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

.myscroll::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.myscroll::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.myscroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #230b2e;
  border: 2px solid #FFFFFF;
}

.myscroll::-webkit-scrollbar-thumb:hover {
  background-color: #D01515;
}

.myscroll::-webkit-scrollbar-thumb:active {
  background-color: #A61111;
}


.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
  box-sizing: border-box;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 28px;
  left: 28px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #A61111;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #A61111;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

input {
  color-scheme: #fff;
}

.lds-circle,
.lds-circle div {
  box-sizing: border-box;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: currentColor;
  border-radius: 50%;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}


::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.useViewBg{
  background-image: url('../assets/bgView.png');
}
@keyframes animar {
  0% {
    transform: translateY(130vh)
  }

  100% {
    transform: translateY(-300vh)
  }
}
.boujee-text2 {
  --bg-size: 400%;
  --color-one: hsl(0, 90%, 15%);
  --color-two: hsl(0, 95%, 55%);
  /* font-size: clamp(3rem, 25vmin, 8rem); */
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 6s infinite linear;
}

.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(0, 0%, 100%);
  --color-two: hsl(62, 100%, 74%);
  /* font-size: clamp(3rem, 25vmin, 8rem); */
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 6s infinite linear;
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}