@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes pulsarSombra {
  0% {
    text-shadow: 0 0 5px rgba(198, 7, 7, 0.4); /* Sombra mais sutil */
  }
  50% {
    text-shadow: 0 0 10px rgba(219, 10, 10, 0.9); /* Sombra mais intensa */
  }
  100% {
    text-shadow: 0 0 5px rgba(230, 0, 0, 0.4);
  }
}

.pulsando-sombra {
  animation: pulsarSombra 2s ease-in-out infinite;
}